node_modules
.idea
/data/*
!/data/rethinkdb
/data/rethinkdb/*
!/data/rethinkdb/.gitkeep
!/data/rethinkdb/rdb1
/data/rethinkdb/rdb1/*
!/data/rethinkdb/rdb1/.gitkeep

!/data/rethinkdb/rdb2
/data/rethinkdb/rdb2/*
!/data/rethinkdb/rdb2/.gitkeep

!/data/rethinkdb/rdb3
/data/rethinkdb/rdb3/*
!/data/rethinkdb/rdb3/.gitkeep

!/data/rethinkdb/rdb4
/data/rethinkdb/rdb4/*
!/data/rethinkdb/rdb4/.gitkeep

!/data/rethinkdb/rdb5
/data/rethinkdb/rdb5/*
!/data/rethinkdb/rdb5/.gitkeep